.only__mobile {
  display: block;
  @media #{$tablet}, #{$desktop} {
    display: none;
  }
} 

.not__mobile {
  display: none;
  @media #{$tablet}, #{$desktop} {
    display: block;
  }
} 

.opacity--zero {
  @media #{$tablet}, #{$desktop} {
    opacity: 0;
  }
}