@mixin grid-columns($col, $gap) {
  display: grid;
  grid-template-columns: repeat(#{$col}, 1fr);
  grid-gap: ($gap);
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}