@mixin grid-columns($col, $gap) {
  display: grid;
  grid-template-columns: repeat(#{$col}, 1fr);
  grid-gap: ($gap);
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}

@mixin ellipsis-paragraphs($line-clamp) {
  display: -webkit-box;
  max-width: 100%;
  height: ($line-clamp*14) + 1;
  line-height: 1;
  -webkit-line-clamp: $line-clamp;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}