// Colors
$color-light: #ffffff;
$color-light-midtone: #d8d8d8;
$color-midtone: #9b9b9b;
$color-dark-midtone: #4a4a4a;
$color-dark: #000000;
$color-primary: #d0021b;
$color-secondary: #5e000b;

// Fonts
$font-lato: 'Lato', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

$font-size-nano: 13px;
$font-size-micro: 14px;
$font-size-mini: 15px;
$font-size-xs: 16px;
$font-size-s: 17px;
$font-size-m: 18px;
$font-size-l: 20px;
$font-size-xl: 22px;
$font-size-xxl: 26px;

$line-height: normal;
$line-height-xs: 16px;
$line-height-s: 20px;
$line-height-m: 22px;
$line-height-l: 24px;
$line-height-xl: 26px;
$line-height-xxl: 30px;

$font-weight-regular: 400;
$font-weight-bold: 700;

// Path images
$pathImages: './../../images/';

// Breakpoints
$desktop : '(min-width: 1064px)';

