// Colors
$color-light: #ffffff;
$color-light-midtone: #d8d8d8;
$color-midtone: #9b9b9b;
$color-dark-midtone: #4a4a4a;
$color-dark: #000000;
$color-primary: #d0021b;
$color-secundary: #5e000b;

// Fonts
$font-lato: 'Lato', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

$font-size: 15px;
$line-height: 1;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$letter-spacing: 0;