.article__container {
  position: relative;
  margin-bottom: 62px;
  &:last-child {
    margin-bottom: 0;
  }
  @media  #{$desktop}  {
    margin-bottom: 75px;
  }
  .article__title {
    color: $color-dark-midtone;
    line-height: $line-height-l;
    margin-bottom: 5px;
    &.xl__title-mobile { 
      line-height: $line-height-xl;
    }
  }
}

.paragrah__text {
  line-height: $line-height-m;
}

.info-post {
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
  @media  #{$desktop}  {
    margin-top: 10px;
  }
  .user {
    margin-right: 20px;
    color: $color-primary;
    line-height: $line-height-m;
  }
  .date {
    line-height: $line-height-m;
  }
}

.see-more-articles, 
.see-more {
  color: $color-dark;
  line-height: $line-height;
}


.article__img {
  display: none;
  &.only-mobile {
    display: block;
    @media #{$desktop} {
      display: none;
    }
  } 
}

.header__row__reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;  
}

.xl__img-mobile {
  background-image: url($pathImages + 'netflixblackandwhite.png');
  background-size: cover;
  background-position: center -70px;
  background-repeat: no-repeat;
  margin-bottom: 21px;
  width: 100%;
  @include aspect-ratio(328px, 108px);
}

.s__img-mobile {
  background-image: url($pathImages + 'spiderman.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 90px;
  @include aspect-ratio(90px, 83px);
}


.title__left-mobile {
  width: 64%;
}

.column__left-mobile {
  width: 64%;
  position: absolute;
  top: 55px; 
}
.truncate__3lines {
  @include truncate-paragraphs(3); 
}

.truncate__2lines {
  @include truncate-paragraphs(2); 
}
.footer__left-mobile {
  margin-top: 55px;
}

