.article__container {
  position: relative;
  margin-bottom: 62px;
  &:last-child {
    margin-bottom: 0;
  }
  @media  #{$desktop}  {
    margin-bottom: 75px;
  }
  .article__title {
    color: $color-dark-midtone;
    line-height: $line-height-l;
    margin-bottom: 5px;
    &.xl__title--mobile { 
      line-height: $line-height-xl;
    }
  }
}

.paragrah__text {
  line-height: $line-height-m;
}

.info--post {
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
  @media  #{$desktop}  {
    margin-top: 10px;
  }
  .user {
    margin-right: 20px;
    color: $color-primary;
    line-height: $line-height-m;
  }
  .date {
    line-height: $line-height-m;
  }
}

.see-more-articles, 
.see-more {
  color: $color-dark;
  line-height: $line-height;
}

.article__img {
  
}

.header__row--reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;  
  @media #{$desktop}  {
    flex-direction: row;
  }
}

.xl__img--mobile {
  background-image: url($pathImages + 'netflixblackandwhite.png');
  background-size: cover;
  background-position: center -70px;
  background-repeat: no-repeat;
  margin-bottom: 21px;
  width: 100%;
  @include aspect-ratio(328px, 108px);
}

.s__img--mobile {
  background-image: url($pathImages + 'spiderman.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-width: 90px;
  @include aspect-ratio(90px, 83px);
}


.title__left-mobile {
  width: calc(100% - 100px);
}

.column__left--mobile {
  width: calc(100% - 100px);
  position: absolute;
  top: 55px; 
  @media #{$desktop}  {
    position: relative;
    top: inherit;
  }
}

.block__ellipsis--3lines {
  @include ellipsis-paragraphs(3); 
}

.block__ellipsis--2lines {
  @include ellipsis-paragraphs(2); 
}

.footer__left--mobile {
  margin-top: 55px;
}

