.article__container {
  position: relative;
  margin-bottom: 62px;
  &:last-child {
    margin-bottom: 0;
  }
  @media #{$desktop}  {
    margin-bottom: 0px;
  }
  .article__title {
    color: $color-dark-midtone;
    line-height: $line-height-l;
    margin-bottom: 5px;
    &.xl__title { 
      line-height: $line-height-xl;
    }
  }
}

.paragrah__text {
  line-height: $line-height-m;
}

.info--post {
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
  @media #{$desktop}  {
    margin-top: 10px;
  }
  .user {
    margin-right: 20px;
    color: $color-primary;
    line-height: $line-height-m;
  }
  .date {
    line-height: $line-height-m;
  }
}

.see-more-articles, 
.see-more {
  color: $color-dark;
  line-height: $line-height;
}

.see-more-articles{
  margin-bottom: 80px;
  @media #{$desktop} {
    margin-bottom: 0;
  }
}

.header__row--reverse {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;  
}

.article__img {
  border-radius: 5px;
}

.xl__img {
  background-image: url($pathImages + 'netflixblackandwhite.png');
  background-size: cover;
  background-position: center -70px;
  background-repeat: no-repeat;
  margin-bottom: 21px;
  width: 100%;
  @include aspect-ratio(328px, 108px);
}

.s__img {
  background-image: url($pathImages + 'spiderman.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-width: 90px;
  @include aspect-ratio(90px, 83px);
  @media #{$desktop}  {
    min-width: 74px;
    margin-bottom: 11px;
    @include aspect-ratio(1, 1);
    &.img__absoluted {
      position: absolute;
      top: 60px;
    }
  } 
}

.title__left {
  width: calc(100% - 100px);
  @media #{$desktop}  {
    width: 100%;
  }
}

.paragraph__left {
  @media #{$desktop}  {
    width: 100%;
    width: calc(100% - 90px);
  }
}

.column__left {
  width: calc(100% - 100px);
  position: absolute;
  top: 55px; 
  @media #{$desktop}  {
    position: relative;
    top: inherit;
    width: 100%;  
  }
}

.footer__left {
  margin-top: 55px;
}

.section__article {
  @include ellipsis(3);
  &.ellipsis--2lines {
    @include ellipsis(2); 
  }
  @media #{$desktop}  {
    &.ellipsis--5lines {
      @include ellipsis(5); 
    }
    &.ellipsis--4lines {
      @include ellipsis(4); 
    }
  }
}

.section__container.classic-films {
  .article__title {
    @media #{$desktop}  {
      font-size: $font-size-xxl;
      line-height: $line-height-xxl;
    } 
  }
  .article__container:nth-child(odd) {
    .article__title {
      @media #{$desktop}  {
        font-size: $font-size-xl;    
      }
    }
  }
  .article__container:nth-child(4) {
    .section__article {
      @media #{$desktop}  {
        &.ellipsis--3lines {
          @include ellipsis(3); 
        }
      }
    }
  }
  .article__container:nth-child(4) {
    @media #{$desktop}  {
      margin-top: 91px;
    }
  }
  .article__container:nth-child(6) {
    @media #{$desktop}  {
      margin-top: 71px;
    }
  }
  .article__container:nth-child(7) {
    @media #{$desktop}  {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.section__container.series-tv {
  .article__container:nth-child(2),
  .article__container:nth-child(5) {
    .section__article {
      @media #{$desktop}  {
        &.ellipsis--2lines {
          @include ellipsis(2); 
        }
      }
    }
  }
  .article__container:nth-child(4) {
    .section__article {
      @media #{$desktop}  {
        &.ellipsis--4lines {
          @include ellipsis(4); 
        }
      }
    }
  }
}
