.grid__container {
  display: grid;
  margin: 40px 0 92px;
  @media #{$desktop}  {
    margin: 70px 0 173px;
  }
}

.main__section--desktop {
  display: grid;
  @media #{$desktop}  {
    grid-template-columns: 734px 238px;
    grid-column-gap: 92px;
  }
}

.section__container {
  margin-bottom: 80px;
  @media #{$desktop}  {
    margin-bottom: 111px;
  }
}

.section__container:last-child {
  margin-bottom: 0;
}

.section__container.classic-films {
  display: grid;
  @media #{$desktop}  {
    grid-template-columns: 330px 313px;
    grid-column-gap: 91px;
    .section__title,
    .see-more-articles {
      grid-column: span 2;
    }  
  }
}

.section__container.series-tv {
  display: grid;
}

.container__articles__grid {
  display: grid;
  @media #{$desktop}  {
    @include grid-columns(4, 37px);
    grid-row-gap: 75px;
  }
}

.section__title {
  line-height: $line-height-xs;
  color: $color-secondary;
  margin-bottom: 35px;
  @media #{$desktop} {
    &.aside {
      line-height: $line-height-xxl;
      margin-bottom: -27px; 
    }
  }
}

.section__title__container {
  display: flex;
  justify-content: space-between;
}











