.grid__container {
  display: grid;
  margin: 40px 0 92px;
  @media #{$desktop}  {
    margin: 70px 0 173px;
  }
}

.main__section--desktop {
  display: grid;
  @media #{$desktop}  {
    grid-template-columns: 734px 238px;
    grid-column-gap: 92px;
  }
}

.section__container {
  margin-bottom: 80px;
  @media #{$desktop}  {
    margin-bottom: 111px;
  }
}

.section__container:last-child {
  margin-bottom: 0;
}

.section__container.classic-films {
  display: grid;
  margin-bottom:0;
  @media #{$desktop}  {
    grid-template-columns: 330px 313px;
    grid-column-gap: 91px;
    margin-bottom: 111px;
    .section__title,
    .see-more-articles {
      grid-column: span 2;
    }  
    .see-more-articles {
      margin: 83px 0 0;
    }  

  }
}
.section__container.documentals {
  margin-bottom: 0;
  @media #{$desktop}  {
    margin-bottom:80px;

  }
}
.section__container.series-tv {
  display: grid;
}

.container__articles__grid {
  display: grid;
  margin-bottom: -80px;
  @media #{$desktop}  {
    @include grid-columns(4, 37px, 75px);
    margin-bottom: 0;
  }
  
}

.section__title {
  line-height: $line-height-xs;
  color: $color-secondary;
  margin-bottom: 35px;
  @media #{$desktop} {
    &.aside {
      line-height: $line-height-xxl;
      margin-bottom: -27px; 
    }
  }
}

.section__title__container {
  display: flex;
  justify-content: space-between;
  .section__title {
    margin-bottom: 0;
    padding-bottom: 17px;
    border-bottom: 1px solid $color-secondary;
    position: relative;
    bottom: -1px;
  }
  &.line--grey{
    margin-bottom: 43px;
    border-bottom: 1px solid $color-light-midtone;
  }
}











