.header__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 76px;
  display: flex;
  background-color: $color-light;
  padding: 18px 0;
  z-index: 1;
  @media #{$tablet}, #{$desktop} {
    padding: 26px 0;
    height: 100px;
  }
  .general__container {
    @include flex(center, space-between);
    .logo__netflix {
      background-image: url($pathImages + 'logo-Netflix.png');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 104px;
      height: 100%;
      @include aspect-ratio(523px,360px);
      @media #{$tablet}, #{$desktop}  {
        width: 133px;
        height: 100%;
      }
    } 
  }
}

.suscription__container {
  @include flex(center, space-between);
  .profile {
    @media #{$tablet}, #{$desktop} {
      display: block;
      color: $color-dark;
      font-size: $font-size-xs;
      font-weight: $font-weight-bold;
      line-height: $line-height-xs;
    }
  }
}

