.btn__subscribe {
  background-color: $color-primary;
  color: $color-light;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: $font-size-micro;
  line-height: $line-height-xs;
  cursor: pointer;
  @media #{$desktop} {
    line-height: $line-height-xs;
    padding: 15px 20px;
    margin-left: 36px;
  }
}